span{
    background-color: grey;
    font-size: 200%;
    border:2px dashed black;
    margin:30px;
    padding:50px 50px;
}

div{
  background-image: url('image-product-1.jpg');
  height:300px;
  width:400px;
  background-position: center;
  background-size: cover;
}

img{
    width:400px;
    height: 400px;
}